*{ padding:0; margin:0; }

//! Variables 
$violet:#9D00BB;
$black:black;
$white:white;

@mixin Desktop{
    @media(min-width:1250px){ @content }
};

@mixin Laptop{
    @media(min-width:1000px) and (max-width:1249px){  @content  }
};

@mixin LargeTablets{
    @media(min-width:850px) and (max-width:999px){  @content  }
};

@mixin SmallTablets{
    @media(min-width:480px) and (max-width:849px){  @content  }
};

@mixin phone{
    @media(max-width:479px){  @content  }
};

 body{ font-family: Arial, Helvetica, sans-serif; text-align:center;

    .Loading-Page{ width:100%; height:100vh; display:flex; align-items:center; justify-content:center;  }

    //! Landing Page
    .Home{ 
        @mixin home{ height:100vh; position:relative;
            .homeBackground{ object-position:top; }

            header{ display: flex; justify-content:space-between;  align-items:center; padding:16px 0;

                .logo{ display:flex; align-items:center; margin:0 70px;
                    i{ margin:0 10px; svg{ color:$violet; font-size:45px;} }  
                    span{ font-size: 25px; font-weight:bolder; }
                }
                nav{ display:flex; align-items:center; margin:0 70px;
                    a{text-decoration:none; margin:0 10px; font-size:22px; font-weight:700; color:$black; transition:.3s;
                        &:hover{ transition:.3s; color:$violet;  }

                    }
                    .phoneYes{display:none;}
                    a:has(svg){ color:$violet; display:flex; align-items:center; svg{ font-size:22px;margin:5px; margin-top:4px; }  }
                }
            }

            .landing{ display:flex;  margin-top:110px;  text-align:left;

                .leftSide{ width:50%; margin:0 115px;
                    h1{ font-size:45px; font-weight:lighter; line-height:60px; span{ color:$violet; font-weight:bold; } }
                    
                    p{ font-size:19px; line-height:30px; letter-spacing:1px; margin:20px 0; width:90%; text-shadow:2px 3px 3px rgb(182, 182, 182);
                    }

                    button{ background:$black; border:none; padding:11px 24px; font-size:19px; border-radius:10px; 
                        cursor:pointer; margin-top:10px; color:$violet; font-weight:700; transition:.3s; 
                        a{text-decoration:none; color:$violet; } 

                        &:hover{ transition:.3s; background:$violet; a{color:$white;} }
                    }

                    h4{ position:absolute; bottom:40px; font-weight:600; font-size:19px;  left:185px; 
                        span{ color:$violet; margin:0 8px; font-size:21px; }
                        &::before{ content:""; width:60px; position:absolute; left:-80px; translate:0 4px; height:2px; background:$violet; margin:10px; }
                    }

                    .phoneYes{display:none;}
                }

                .rightSide{
                    img{ object-fit:cover; transform:scaleX(-1) ; height:85%; width:auto; position:absolute; bottom:0; right:0 }
                }
            }
        }

        @include Desktop{
            @include home;
        }

        @include Laptop{
            @include home;

            header{
                .logo{ margin:0 40px; span{font-size:23px;} i{font-size:40px;} }
                nav{ margin:0 40px; a{ font-size: 20px; } }
            }
            .landing{
                .leftSide{  margin:0 90px;
                    h1{ font-size:38px; line-height:50px; } p{font-size:18px; line-height:25px;}
                     button{ font-size:18px;} h4{ font-size:18px;  left:150px; }  
                }
                .rightSide img{  width:400px; }
            }
        }

        @include LargeTablets{
            @include home;

            header{
                .logo{ margin:0 40px; span{font-size:22px;} i{font-size:37px;} }
                nav{ margin:0 40px; a{ font-size: 19px; } }
            }
            .landing{
                .leftSide{  margin:0 50px;
                    h1{ font-size:32px; line-height:40px; } p{font-size:16px; line-height:23px;}
                    button{ font-size:18px;}
                    h4{ font-size:15px;  left:100px; span{font-size:18px; margin:0 4px;} 
                        &::before{ width:40px; left: -60px; } 
                    }  
                }
                .rightSide img{  width:360px; height:85%; }
            }
        }

        @include SmallTablets{
            @include home;

            header{ justify-content:space-around;
                .logo{ margin:0 20px; span{font-size:21px;} i{font-size:35px;} }
                nav{ margin:0 20px; a{ font-size: 17px; margin:0 6px; } }
            }
            .landing{ flex-direction:column; height:80%; align-items:center; margin-top:0px; text-align:center; justify-content:center;

                .leftSide{  margin:0 50px; width:85%;
                    h1{ font-size:40px; line-height:50px; } p{font-size:20px; width:100%; margin:30px 0;  line-height:30px;}
                    button{ font-size:19px;}
                    h4{ font-size:18px;  left:50%;  translate:-50%; bottom:30px;  margin:0;  margin-top:20px;  span{font-size:20px; margin:0 7px;} 
                        &::before{ display: none;} 
                    }  
                    .phoneNone{display:none;} .phoneYes{display:block;}
                }
                .rightSide img{  display:none; }
            }
        }

        @include phone{
            @include home;

            *{ pointer-events:none; &::selection{ background:none; } }

            header{ justify-content:center; padding-top:35px;  }
            
            .landing .rightSide img{display:none;}
            
            header nav{ position:absolute; bottom: 100px;  background-color:$black; border-radius:10px; padding:8px 14px; width:67%;
                display:flex; justify-content:center; align-items:center;
                
                .phoneYes{display:flex; svg{translate:3px 2px;} margin-bottom:-2px;}
                .phoneNone{display:none;}

                a{ margin:0; padding:0 13px; font-size:17px; color:$white; border-left:1px solid $white; pointer-events:painted; } 

                a:has(svg){ border:none }
            }

            .landing{ flex-direction:column; height:80%; align-items:center; margin-top:-50px; text-align:center; justify-content:center;

                .leftSide{  margin:0 50px; width:85%;
                    h1{ font-size:30px; line-height:40px; font-weight:bold; } p{font-size:19px; width:100%; margin:10px 0;  line-height:27px;}
                    button{ font-size:16px; pointer-events:painted; a{pointer-events: painted;}}
                    h4{ display:none;} 
                    .phoneNone{display:none;} .phoneYes{display:inline;}

                }
            }

        }
    }

    .Status{ height:100vh; background:$black; color:$white; h1{padding-top:200px; }   }

    @mixin Auth{ height:100vh; background: $white; color:$black;

        header{ display:flex; align-items:center; justify-content:space-between; 
            position:absolute; top:20px; width:100%; z-index:10;

            .phoneYes{ display:none; }

            .logo{ display:flex; align-items:center; margin:0 70px;
                i{ margin:0 10px; svg{ color:$violet; font-size:43px;} }  
                span{ font-size: 24px; font-weight:bolder; }
            }

            .showOff{  width:47%; margin:0 15px; position: relative;
                display:flex; justify-content:space-between; align-items:center;

                .icon{ width:160px; display:flex; justify-content:space-between; align-items:center;  color:$white;
                    i{ background:$white; width:60px; height:40px;  border-radius:50%; display:flex; justify-content:center;
                        align-items: center;
                        svg{color:$black; font-size:25px;} 
                    }
                    span{ font-weight:700; font-size:14px; translate:0 2px; }
                }

                nav{
                    a{ text-decoration:none; color:$white; margin:0 5px; font-size: 16px; font-weight:bold; transition:.3s;  }
                    a:nth-child(2){ border:2px solid $violet; padding:5px 15px; border-radius:20px }

                    a:hover{ color:$violet; transition:.3s; }
                }
            }
        }

        .body{ display:flex; justify-content:space-between; height:100%; 

            //! Pop-up component
            .BackGround{ background: rgba(128, 128, 128, 0.585); height:100vh; z-index:11; position:fixed; width:100%; transition:.7s;

                .Message{ position:fixed; background:$black; padding:25px; border-radius:10px; display:flex; z-index:12;
                    flex-direction:column; align-items:center; color:$white; top:50%; left:50%; translate:-50% -50%; transition:.7s;

                    i{ font-size:100px; }
                    h3{width:350px;}

                    button{ margin-top:20px; background:none; border:2px solid red; cursor:pointer; padding:7px 15px; border-radius:10px; 
                        width:70%; color:$white; transition:.3s; &:hover{ transition:.3s; background:red; }display:flex; justify-content:center;
                    }
                    h4{ margin-bottom:10px; width:80%; }
                }
            }
            .Message.failed{ color:red; }
            .Message.success{ color:limegreen; button{ border:2px solid limegreen; &:hover{background:limegreen;} } 
                .close{ position:absolute; font-size:22px; color:red; top:20px; right:20px; cursor:pointer; }
                .error{ color:red; margin-top:20px; }
            }

            .Message.Reset-Password{ text-align:left; background:$white; color:$black; padding:20px 0; 
                .close{ position:absolute; font-size:22px; color:limegreen; top:20px; right:20px; cursor:pointer; }

                h1{margin-top:10px; width:70%;}

                label{ width:70%; margin-top:15px; line-height:23px; font-size:17px; opacity:.8; }
                    
                input{ width:66%; background:rgba(204, 204, 204, 0.447); border:none;  padding:12px; 
                    color:limegreen; margin:5px;  &:focus{outline:none;}  border-radius:10px; margin:20px 0;
                }

                button{ margin:0; background:limegreen; border:none; cursor:pointer; padding:10px 20px; border-radius:10px; font-weight:bold; 
                    width:70%; color:$white; transition:.3s; &:hover{ transition:.3s; background:$black; }display:flex; justify-content:center;
                }

                h4{ margin-top:20px; font-size:15px; text-align:center; }
            }

            .LeftSide{ width:50%; align-self:center; text-align:center; display:flex; flex-direction:column;
                align-items:center; margin-top:70px;

                .PhoneSizeOnly{display:none;}

                h1{ font-size:45px; text-transform:uppercase;  }
                h4{ margin:10px; font-size:14px;  }

                button{ width:67%; background:$black; color:$white; padding:8px; font-size:17px; display:flex; justify-content:center;
                    border:none; transition:.3s; cursor:pointer; font-weight:500; margin:10px 0; font-weight:bold; align-items: center;
                    svg{ margin:1px 15px; font-size:22px; color:$white; }
                    img{  margin:1px 15px; width:22px; height:22px; object-fit:cover; }

                    &:hover{ color:$white; background:$violet; transition: .3s; }
                }

                .or{ position: relative; font-size:15px; margin:10px;
                    &::before{ content:""; width:85%; height:1.5px; background:$black; position:absolute; left:-138px; top:8px;
                        opacity:.4; 
                    }
                    &::after{ content:""; width:85%; height:1.5px; background:$black; position:absolute; right:-138px; top:8px;
                        opacity:.4; 
                    }
                }
                .error{ color:red; margin:0; i{ cursor:pointer; margin:10px; translate:-2px; } }

                input{ background:none; border:1px solid $black; padding:12px; width:63%; margin:15px 0; 
                    color:$black; &:focus{ outline:none; }
                }
                .file{display:none;}

                .passwords{ display:flex; width:67%; gap:10px;}

                .links{ display:flex; justify-content:space-between; width:67%; margin:12px 0;

                    label{ color:$violet; font-size:15px; font-weight:bold; cursor: pointer; transition:.3s;
                        i{margin:5px;position: relative; top:1px;}
                        &:hover{ color:$black; transition:.3s; }
                    }

                    span{ font-size:15px; cursor: pointer;}
                }

                .lastButton{ padding:10px; background:$violet; color:$white; &:hover{ color:$violet; background:$black; } }

                .already{ font-size:14px;  margin:10px 0; span{ color:$violet; font-weight:bold; cursor: pointer; } }
            }
            .RightSide{ background:gray; width:50%; z-index:1; 

                .swiper-slide{
                    height:100vh; width:100%; 

                    img{ width:100% ; object-fit:cover; height:100%; object-position:top;  }
                    .first{ object-fit:cover }

                    .text{ position:absolute; bottom:80px; color:$white;  text-align:left; z-index:10;
                        i{ position:relative; left:60px; font-size:30px; }
                        p{  font-size:22px; margin-left:30px; width:80%;   line-height:30px }
                    }
                    .navigation{ position:absolute; bottom:25px; color:$white; right:30px; z-index:10; display:flex; gap:15px;
                        i{ width:30px; height:30px; border-radius:50%; border:2px solid $white; font-size:25px; 
                            display:flex;  justify-content:center; align-items: center; cursor:pointer;
                        }
                    }
                }
                .swiper-pagination-bullet{ cursor: pointer;  bottom:10px; right:100px; background:$white; z-index:10; 
                    width:10px; height:10px; 
                }

                .swiper-button-prev{ color:$white; }
                .swiper-button-next{ color:$white }
            }

        }
    }

    @mixin Settings{
        min-width:300px; max-width:310px; background:#202020; color:$white; height:100vh; display:flex; flex-direction:column;
        align-items:center; position:relative; border-right:1.5px solid $violet; 

        h2{font-size:25px; margin:20px 15px; text-align:left; align-self:flex-start;}

        .setting{ display:flex; justify-content:space-around; margin:7px 0; width:100%;

            i{ font-size:29px; color:$violet; }
            
            .description{text-align:left; display: grid; grid-template-columns: repeat(2,auto); position:relative; width:80%;

                p{opacity: .7; font-size:12px; grid-column:1/3; margin:10px 0;}
                h3{margin-right:15px; font-size:18px;}

                input{background:$white; width:50px; height:25px; border-radius:20px; position:absolute; right:2px; top:0; outline:none; appearance:none;
                    transition:.5s;
                    &::before{content: '';cursor:pointer;  position:absolute; width:23px; height:23px; border-radius:50%; top:1px; background:gray; left:2px; transition:.5s;}

                    &:checked::before{content: ''; cursor:pointer; position:absolute; transition:.5s; width:23px; height:23px; border-radius:50%; top:1px; background:$violet; left:25px;}
                }
            }
        }

        button{ width:93%; background:$white; color:$black; cursor: pointer; padding:10px 15px; margin:10px 0; border:none; 
            font-size:18px; border-radius:15px; font-weight:bold; position: relative; text-align:left; transition:.4; 
            svg{color:$violet; font-size:24px; position:absolute; right:20px;} 

            &:hover{ background:$violet; color:$white; transition:.4s; text-align:center; svg{display:none;} }
        }

        .buttons{ display:flex; justify-content:space-between; width:95%; margin-top:10px; margin-bottom:20px;
            button{ margin:0 5px; width:100%; svg{right:10px} margin:0 5px;}
        }
        .delete{ color:red; background:$black; svg{ color:red; }}

        span{ width:95%; height:1px; background:$white; opacity:.8px; margin:3px 0; }
    }

    .LogIn , .SignUp{

        //* Normal
        @include Desktop{
            @include Auth;
        }
        //* Normal
        @include Laptop{
            @include Auth;

            header .showOff{ width:45%; }
           
            .body{

                .LeftSide{ width:52%;
                    h1{font-size:38px;}
                    h4{ width:90%; }

                    .or::before { width:60%; left:-100px;}
                    .or::after{ width:60%; right:-100px; }
                }


                .RightSide{ width:48%;  .swiper-slide .text p{font-size:20px;}}
            }
           
        }
        //* Normal
        @include LargeTablets{
            @include Auth;

            header .showOff{ width:45%; }
           
            .body{

                .LeftSide{ width:52%;
                    h1{font-size:36px;}
                    h4{ width:90%; }

                    .or::before { width:45%; left:-75px;}
                    .or::after{ width:45%; right:-75px; }
                }


                .RightSide{ width:48%;  .swiper-slide .text p{font-size:19px;}}
            }
        }
        //! Only left side because there is the authentication intermediary page
        @include SmallTablets(){
            @include Auth;

            header{ justify-content:space-evenly; top:30px; align-items:center;
                .phoneYes{ display:block; font-size:42px; }
               
                .logo{display:none;}
                
                .showOff{ width:fit-content; margin:0; .icon{display:none;}

                    nav a{ text-decoration:none; color:$black; margin:0; font-size: 21px;
                        border:none; padding:5px 15px; border-radius:20px
                    }
                }
            }
           
           
            .body{
                .LeftSide{ width:100%;
                    h1 , h4{display:none;}

                    button{ width:74%; padding:10px; font-size:17px;  margin:12px 0; border-radius:20px;}

                    .PhoneSizeOnly{ display:block; font-weight:bold; text-transform:uppercase; width:71%; text-align:left;  }

                    input{ border:none; border-bottom:1px solid $black; padding:10px 0; width:70%; margin:0; margin-bottom:30px; }

                    .passwords{ display:grid; grid-template-columns:repeat(2,55%); gap:0;  width:70%;
                        input{ width:80%; padding:9px 0;}
                    }

                    .already{ font-size:16px;  margin:10px 0; pointer-events:none; span{ pointer-events:none; } }

                    .or{  font-size:16px; margin:20px; pointer-events:none;
                        &::before{  width:65%;  left:-120px; top:9px; }
                        &::after{  width:65%;  right:-120px; top:9px; }
                    }

                }
                
                //! Hide this 
                .RightSide{display:none;}

            }
        }
        //! Only left side because there is the authentication intermediary page
        @include phone{
            @include Auth; width:100%;

            header{ justify-content:space-evenly; top:40px; align-items:center;
                .phoneYes{ display:block; font-size:42px; }
               
                .logo{display:none;}
                
                .showOff{ width:fit-content; margin:0; .icon{display:none;}

                    nav a{ text-decoration:none; color:$black; margin:0; font-size: 20px;
                        border:none; padding:5px 15px; border-radius:20px
                    }
                }

            }
           
            .body{ 
                .BackGround .Message.Reset-Password{ width:320px; button{width:75%;} }
                
                .LeftSide{ width:100%;
                    h1 , h4{display:none;}

                    button{ width:74%; padding:10px; font-size:17px;  margin:15px 0; border-radius:20px; pointer-events:painted;}

                    .PhoneSizeOnly{ display:block; font-weight:bold; text-transform:uppercase; width:71%; text-align:left;  }

                    input{ border:none; border-bottom:1px solid $black; padding:10px 0; width:70%; margin:0; margin-bottom:40px; 
                    }

                    .passwords{ display:grid; grid-template-columns:repeat(2,55%); gap:0;  width:70%;
                        input{ width:80%; padding:9px 0; margin-bottom:25px;}
                    }

                    .already{ font-size:16px;  margin:10px 0; pointer-events:none; span{ pointer-events:none; } }

                    .error{ display:inline; width:80%; color:red; margin:0; }

                    .or{  font-size:16px; margin:20px; pointer-events:none;
                        &::before{  width:45%;  left:-80px; top:9px; }
                        &::after{  width:45%;  right:-80px; top:9px; }
                    }

                }
                .BackGround .Message{  width:64%; h3{font-size:19px; width:90%; } }
                
                //! Hide this 
                .RightSide{display:none;}

            }
        }
    }

    .Authentication{

        @include SmallTablets(){
            @include Auth;

            header{ justify-content:space-between;
                .phoneNone{ display:none; }
                .logo{margin:0 50px; color:$white; pointer-events:none;}
                .showOff{ width:fit-content; margin:0 50px; .icon{display:none;} }
            }
           
            .body{
                
                .RightSide{ width:100%;  
                    
                    .swiper-button-prev{ display:none; }
                    .swiper-button-next{display:none; }

                    .swiper-slide{ height:70vh;

                        .text{bottom:50px; width:100%; text-align:center; display:flex; flex-direction:column; align-items:center;
                            i{left:20%; align-self:flex-start;}
                            p{ margin:0; font-size:20px; }
                        }

                        .navigation{ display:none; }
                    }
                }
                
                //! Hide this 
                .LeftSide{ display: none;}

                //! Show this
                .phone{display:flex; flex-direction:column; align-items:center; position:fixed; bottom:0; width:100%; z-index:105; background:$white;
                    color:$black; padding:30px 0; border-radius:20px 20px 0 0;

                    h1{ font-size:45px; text-transform:uppercase; pointer-events:none; }
                    p{ margin:22px 0; margin-bottom:30px; font-size:18px; width:55%; height:42px; overflow:hidden; pointer-events:none;}

                    .largeButton{ width:55%;  background:$black; border-radius:20px; display:flex; justify-content:space-evenly;
                        position: relative; overflow:hidden;

                        a{ background:none; cursor:pointer; border:none; font-size:18px; width:38%; padding:10px 0; color:$white; text-decoration:none;   }

                        &::before{ content:""; position:absolute; left:50%; translate:-50%; top:0; height:100px; width:2px; z-index:100; background:$white;
                            opacity:.7;
                        }
                    }
    
                }
            }
        }

        @include phone{
            @include Auth;

            header{ justify-content:space-between;
                .phoneNone{ display:none; }
                .logo{margin:0 15px; color:$white; pointer-events:none;}
                .showOff{ width:fit-content; margin:0 15px; .icon{display:none;} }

                nav a{ text-decoration:none; color:$white; margin:0 5px; font-size: 16px; font-weight:bold; transition:.3s;
                    border:2px solid $violet; padding:5px 15px; border-radius:20px
                }
            }
           
            .body{
                .RightSide{ width:100%;  
                    .swiper-slide .text p{font-size:19px;}
                    
                    .swiper-button-prev{ display:none; }
                    .swiper-button-next{display:none; }

                    .swiper-slide{ height:70vh;

                        .text{bottom:55px; width:100%; text-align:center; display:flex; flex-direction:column; align-items:center;
                            i{left:20%; align-self:flex-start;}
                            p{ margin:0; font-size:19px; width:90%;}
                        }

                        .navigation{ display:none; }
                    }
                }
                
                //! Hide this 
                .LeftSide{ display: none;}

                //! Show this
                .phone{display:flex; flex-direction:column; align-items:center; position:fixed; bottom:0; width:100%; z-index:105; background:$white;
                    color:$black; padding:30px 0; border-radius:20px 20px 0 0;

                    h1{ font-size:35px; text-transform:uppercase; pointer-events:none; }
                    p{ margin:25px 0; font-size:18px; width:75%; height:fit-content; overflow:none; pointer-events:none;}

                    .largeButton{ width:75%;  background:$black; border-radius:20px; display:flex; justify-content:space-evenly;
                        position: relative; overflow:hidden;

                        a{ background:none; cursor:pointer; border:none; font-size:18px; width:38%; padding:10px 0; color:$white; text-decoration:none;   }

                        &::before{ content:""; position:absolute; left:50%; translate:-50%; top:0; height:100px; width:2px; z-index:100; background:$white;
                            opacity:.7;
                        }
                    }
    
                }
            }
        }
    }

    .ResetPassword{

        width:100%; height:100vh; background:$white;
        display: flex; justify-content:space-evenly; gap:20px; align-items:center;

        .logo{ position:fixed; top:30px; left:10px;   display:flex; align-items:center; margin:0 70px;

            i{ margin:0 10px; svg{ color:limegreen; font-size:45px;} }  
            span{ font-size: 25px; font-weight:bolder; }
        }
        .left img{ transform:scaleX(-1); width:90% }
        
        .right{ display:flex; flex-direction:column; align-items:center; text-align:center;

            p{opacity:.8; margin:20px; width:70%; }
            
            input{ width:70%; background:rgba(204, 204, 204, 0.447); border:none;  padding:12px; 
                color:limegreen; margin:5px;  &:focus{outline:none;}  border-radius:10px; margin:15px 0;
            }

            button{ margin:20px 0; background:limegreen; border:none; cursor:pointer; padding:10px 20px; border-radius:10px; font-weight:bold; 
                width:75%; color:$white; transition:.3s; &:hover{ transition:.3s; background:$black; }display:flex; justify-content:center;
            }
            
            a{ margin-top:0px; text-decoration:none; color:limegreen;   }
            h4{ margin-top:10px; font-size:15px; text-align:center; }
            
        }
        
        @include SmallTablets(){
            flex-direction:column; align-items:center;
            
            .left img{height:300px; width:100%; }

            .right{
                p{margin:10px;}
                input{margin:10px 0;}
            }
        }

        @include phone(){
            .logo{ display:none; }
            
            flex-direction:column; align-items:center;
            
            .left img{height:290px; width:100%; }

            .right{
                p{margin:15px;}
                input{margin:15px 0;}
            }
        }
    }

    .Main{ display:flex; background:#202020;
       
        nav{ display:flex; flex-direction:column; align-items:center; height:100vh; background:$black; color:$white;
            position:relative; left:0; width:70px; min-width:70px; justify-content:space-between; border-radius: 0 30px 30px 0;
 
            .logo{ margin-top:22px; font-size:45px;  color:$violet; border-bottom:1px solid $white;
                padding:5px 0;
            }

            .links{ display:flex; flex-direction:column; align-items:center; justify-self:center;
                
                @mixin HoverText { position:absolute; left:40px; color:$white; font-weight:bold; width:fit-content; transition:.3s;
                    font-size:15px; background:$black; padding:5px 15px; border-radius:0 10px 10px 0; top:-3px; z-index:10;
                };

                a{ text-decoration:none; color:$white; font-size:23px; margin:10px 0;  position: relative; transition:.2; &:hover{ color:$violet; transition:.2; } }
                button{ background:none; cursor:pointer; color:$white; font-size:23px; margin:10px 0;  position: relative;
                    transition:.2; border:none;  &:hover{ color:$violet; transition:.2; } 
                }
                #A1:hover::after{content: "Messages"; @include HoverText() }
                #A2:hover::after{content: "Groups"; @include HoverText() }
                #A3:hover::after{content: "Stories"; @include HoverText() }
                #A4:hover::after{content: "Create"; @include HoverText() }
                #A5:hover::after{content: "Logout"; @include HoverText() }
                #A6:hover::after{content: "Settings"; @include HoverText() }

                .active{ color:$violet; position:relative; 
                    &::before{ content:"";  position:absolute; width:5px; height:42px; top:-7px; background:$violet; right:-24px; 
                        border-radius:20px; z-index:5;
                    } 
                }

                span{ background:$white; width:150%; height:1px; margin:10px 0; }
            }

            .profile{ margin-bottom:20px;  border-radius:none; background:none; border: none; cursor: pointer;
                img{border-radius:50%; padding:2px; background:$white; border:2px solid $violet; object-fit:cover; }
            }
        }

        .Messages{ display:flex; width:100%;

            //! The main big bar
            .BigBar{ min-width:300px; background:#202020; color:$white; height:100vh; display:flex; flex-direction:column;
                align-items:center; position:relative; border-right:1.5px solid $violet; 
    
                .Stories{  width:100%;
                    .Stories-swiper{ display:flex; justify-content:center;  width:90%; margin-top:15px;  padding-bottom:25px;
                    
                        .swiper-wrapper .swiper-slide{  
                            img{ border-radius:50%; object-fit:cover; border:3px dotted $violet; cursor:pointer; }
                        }
        
                        .swiper-pagination-bullet{ cursor: pointer;   bottom:0px; background:$white; z-index:10; 
                            width:11px; height:11px; 
                        }
                    }
                }
    
                .title{ display:flex; margin:5px 0;  width:87%;  position: relative;
                    h2{font-size:25px;}
                    span{ color:$violet; margin:5px 10px; font-weight:bold;  }
                    i{color:$violet; font-size:28px; cursor: pointer; justify-self:flex-end; position:absolute; right:0px;
                        transition: .4s ease; &:hover{color:$white; transition:.4s ease; scale:1.1;}
                    }
                }
    
                form{ width:90%; display:flex; background:$white; border-radius:20px; justify-content:space-evenly;
                    align-items:center; margin:10px 0;
    
                    input{ border:none; background:none; color:$violet; padding:15px 5px; font-weight:bold;  width:70%; 
                        &:focus{outline:none;}
    
                        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: $violet;
                            opacity: 1; /* Firefox */
                          }
                          
                        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                            color: $violet;
                        }
                          
                        &::-ms-input-placeholder { /* Microsoft Edge */
                            color: $violet;
                        }
                    }
                    button{ background:none; padding:7px; color:$violet; border:none; font-size:22px; cursor:pointer; position: relative; top:2px; }
                }
    
                .error{ display:flex; justify-content: space-between; align-items:center; background:$white;
                    width:90%;  border-radius:20px; padding:7px 0; margin:10px 0;
                    
                    i{color:red; font-size:25px; margin:0 15px; cursor: pointer; transition:.3s; &:hover{transition:.3s; color:$black;}}
                    p{ color:red; font-weight:bold; margin:0 15px;}
                }
    
                .searchResults{ display:flex; width:90%; position: relative; background:$white; border-radius:30px; margin:15px 0;
    
                    img{border-radius:50%; object-fit:cover; justify-self:flex-start; align-self:flex-start;}
                    
                    .info{margin:7px 10px; color:$violet; justify-self:flex-start; text-align:left;
                        h3{margin:2px 0; font-size:17px;}
                        h5{opacity:.6; color:$black;}
                    }
                    
                    i{font-size:26px; cursor: pointer; color:$violet; position: absolute; right:10px; top:15px; transition:.2;
                        &:hover{color:$black;}
                    }
                    .x{ right:92%; font-size:25px; color:$violet; top:-14px; &:hover{color:red} }

                    .animation{ position:absolute; right:10px; top:50%; translate:0 -50%; }
                }
    
                .h2{ border-bottom:1.5px solid $violet; width:85%; text-align:left; font-size:17px; color:$violet; margin-top:5px; font-weight:normal; padding:5px 0; }
    
                .Contacts{display:flex; flex-direction: column; align-items:center;  margin:20px 0; width:95%; overflow-y: auto; 
    
                    &::-webkit-scrollbar{background:none; width:7px;}
                    &::-webkit-scrollbar-thumb{ background:$violet; border-radius:10px; cursor:pointer;}
    
                    .contact{ display:flex; width:90%;  position: relative; justify-content:left; color:$white; cursor:pointer; margin:13px 0;
    
                        img{border-radius:50%; object-fit:cover; justify-self:flex-start; align-self:flex-start;}
    
                        .contactInfo{margin:7px 10px; justify-self:center;
                            h3{margin:2px 0; font-size:15px;}
                            h5{opacity:.6; text-align:left; }
                        }
    
                        .messagesInfo{ display:flex; flex-direction:column; align-items:center; position:absolute; right:5px; 
                            span{font-size: 14px; }
                            .missedMessages{ width:20px; height:20px; border-radius:50%; background:red;  margin:3px 0; display:grid; align-items:center; justify-content:center; }
    
                        }
                    }
                }   
            }
            
            //! Settings conditional rendered
            .Settings{ @include Settings }

            //! Pop-up component for resetting the password
            .BackGround{ background: rgba(128, 128, 128, 0.585); height:100vh; z-index:11; position:fixed; width:100%; transition:.7s;

                .Message{ position:fixed; background:$black; padding:25px; border-radius:10px; display:flex; z-index:12;
                    flex-direction:column; align-items:center; color:$white; top:50%; left:50%; translate:-50% -50%; transition:.7s;

                    i{ font-size:100px; }
                    h3{width:350px;}

                    button{ margin-top:20px; background:none; border:2px solid red; cursor:pointer; padding:7px 15px; border-radius:10px; 
                        width:70%; color:$white; transition:.3s; &:hover{ transition:.3s; background:red; }display:flex; justify-content:center;
                    }
                    h4{ margin-bottom:10px; width:80%; }
                }
            }
            .Message.Reset-Password{ text-align:left; background:$white; color:$black; padding:20px 0; 
                .close{ position:absolute; font-size:22px; color:limegreen; top:20px; right:20px; cursor:pointer; }

                h1{margin-top:10px; width:70%;}

                label{ width:70%; margin-top:15px; line-height:23px; font-size:17px; opacity:.8; }
                    
                input{ width:66%; background:rgba(204, 204, 204, 0.447); border:none;  padding:12px; 
                    color:limegreen; margin:5px;  &:focus{outline:none;}  border-radius:10px; margin:20px 0;
                }

                button{ margin:0; background:limegreen; border:none; cursor:pointer; padding:10px 20px; border-radius:10px; font-weight:bold; 
                    width:70%; color:$white; transition:.3s; &:hover{ transition:.3s; background:$black; }display:flex; justify-content:center;
                }

                h4{ margin-top:20px; font-size:15px; text-align:center; }
            }

            //! Profile conditional rendered
            .Profile{  width:100%; height:100vh; display:flex; flex-direction:column; justify-content:center; align-items:center; color:$violet;

                .top{ display:flex; justify-content:space-between;  align-items:center;
                    img{ border-radius:50%; object-fit:cover;  }

                    label{ cursor: pointer; position:relative; right:20px; top:30px; font-size:22px; background:$violet; color:$white; border-radius:50%; 
                        width:29px; height:29px; display:flex; align-items:center; justify-content:center;
                    }
                    #file{ display:none }

                    .user-details{text-align:left; 
                        p{ color:$white; opacity:.8; }
                    }
                }

                .middle{ display:grid; grid-template-columns:repeat(2,auto); justify-content:left; text-align:left; margin:25px;

                    div{ display:flex; flex-direction:column; align-items:flex-start;  margin:20px 30px;
                        
                        label{margin:5px;}

                        input{ outline:none; background:none; border:none; border-bottom:1px solid $violet; padding:10px; width:210px; color:$white; transition:1s; }

                        input:disabled{ opacity:0.5; transition:1s; border:1px solid $violet }
                    }
                }

                .bottom{ display:flex; justify-content:space-between;  
                    
                    button{ border:none; background:$white; cursor: pointer; padding:8px 15px; font-weight:bold; display:flex; align-items:center;
                        i{color:$black; font-size:22px; margin:0 5px; translate:0 2px;} transition:.4 ease;

                        &:hover{ background:$violet; color:$white; transition:.4s ease; }
                        &:disabled{ opacity:.8; &:hover{ background:$white; color:$black; } transition:1s; }
                    }
                }

                .message{ margin-top:40px; width:70%; p{ font-weight:700; color:$white;  } }

            }

            //! The Message page
            .Message{ width:100%; display:flex; 
                
                .Left{width:70%; background-image:url("./backgrounds//home-dark.jpg"); color:$white; background-position:center; 
                    background-repeat:no-repeat; background-attachment:fixed; background-size:cover; display:flex; flex-direction:column; align-items:center;
                    
                    header{ display:flex; justify-content:space-between; width:100%; background:rgba(255, 255, 255, 0.203); height:10vh; 
                        align-items:center; padding:3px 0;

                        i{font-size:28px; color:$violet; cursor: pointer; transition:.3s;
                            &:hover{ color:$white; transition:.3s; } 
                        }

                        .i{ display:flex; align-items:center; margin:0 10px;
                            img{ border-radius:50%; object-fit:cover; margin-right:5px;} 
                        }
                        .ii{
                            h3{font-size:18px; color:$violet;}
                            h5{color:limegreen; font-size:16px;}
                        }
                        .iii{
                            display:flex; align-items:center;
                        }
                    }

                    .TheMessages{ overflow-y:auto; display:flex; flex-direction:column; align-items:center; height:88vh; width:100%; position:relative;

                        &::-webkit-scrollbar{ background:none; width:8px; }
                        &::-webkit-scrollbar-thumb{ background:$violet; }


                        .msgs{ display:flex; flex-direction:column; width:100%; margin-bottom:20px;
                            
                            .msg{  display:flex; align-items:center; gap:10px; margin:15px 10px;  text-align:left; 

                                img{ border-radius:50%; object-fit:content; }

                                .text{ color:$white;  
                                    
                                    .msg-head{ display:flex; align-items:center; 
                                        h3{ font-size:18px; }
                                        span{ font-size:14px; opacity:.7; margin:0 20px;}
                                    }
                                    p{font-size:15px; padding:10px; border-radius:10px 0 10px 0; margin:5px 0; grid-column:1/3;
                                        font-weight:200;
                                    }
                                }
                            }
                        
                            #me{ align-self:flex-end;  flex-direction: row-reverse; 
                                .text p{ background:$violet; } 
                                .text .msg-head{justify-content:flex-end;} 
                            }
                            #them{align-self:flex-start; 
                                .text p{ background:#202020; border-radius:0 10px 0 10px; } 
                            }
                        }

                        .sendMessage{ width:90%; display:flex; border-radius:10px; height:40px; background: #202020;
                            position:sticky; bottom:20px; align-items:center; justify-content:space-between;

                            i , button{ background:none; border:none; font-size:24px; color:$violet; cursor:pointer; margin:0 5px; transition:.3s;
                                &:hover{ color:$white; transition:.3s; } 
                            }


                            .i{ height:inherit; margin:0 10px; display:flex; align-items:center; width:82%;
                                
                                i{ translate:0 2px; }
                                
                                input{ width:100%; background:none; outline:none; color:$violet; height:inherit; border:none; margin:0 10px;
                                    font-weight:bold;
                                }
                            }
                            
                            .ii{ margin:0 10px; width:18%; display:flex; align-items:center; justify-content:space-between;
                                
                                span{ width:.7px; background:$white; opacity:.6; height:25px; display:block; }
                            }
                            
                        }

                    }
                }

                .Right{ width:30%; height:100vh; background:#202020; display:flex; flex-direction:column; align-items:center; color:$white;

                    .img{ 
                        .profileImage{ border-radius:50%;  object-fit:cover; border:2px solid $violet; margin:6px 0;
                            position: relative;
                        }
                    }

                    h1{ color:$violet; font-size: 22px;}
                    
                    .h3{ display:flex; align-items:center; font-weight:200; font-size:14px;  transition:.4s; cursor: pointer;
                        i{ color:$violet; font-size:20px; }  gap:10px;
                        &:hover{ transition:.4s; color:$violet; translate:0 2px; }
                    }

                    p{ margin:3px 0; letter-spacing:1px; font-size:13px; font-weight:100; }

                    .CallChat{ display:flex; width:93%; justify-content:space-evenly; margin:10px 0;

                        button{ border:none; background:$violet; color:$white; padding:7px 13px; font-weight:bold; cursor: pointer; border-radius:20px;
                            transition:.4s; display:flex; align-items:center; gap:10px; i{ font-size:16px; } 
                            &:hover{ background:$white; color:$violet; transition:.4s; }
                        }
                    }

                    .SearchChat{ width:78%; display:flex; background:$white; border-radius:20px; justify-content:space-evenly;
                        align-items:center; margin:10px 0;
        
                        input{ border:none; background:none; color:$violet; padding:10px 5px; font-weight:bold;  width:70%; 
                            &:focus{outline:none;}
        
                            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                                color: $violet;
                                opacity: 1; /* Firefox */
                              }
                              
                            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                color: $violet;
                            }
                              
                            &::-ms-input-placeholder { /* Microsoft Edge */
                                color: $violet;
                            }
                        }
                        button{ background:none; padding:7px; color:$violet; border:none; font-size:22px; cursor:pointer; position: relative; top:2px; }

                    }

                    .Options{ width:82%; background:#202020; color:$white; height:100vh; display:flex; flex-direction:column;
                        align-items:center; position:relative; 
                
                        .setting{ display:flex; justify-content:space-around; margin-top:17px; width:100%;

                            i{ font-size:28px; color:$violet; }
                            
                            .description{text-align:left; display: grid; grid-template-columns: repeat(2,auto); position:relative; width:80%;
                
                                p{opacity: .7; font-size:11px; grid-column:1/3; margin-top:10px;}
                                h3{margin-right:15px; font-size:16px;}
                
                                input{background:$white; width:50px; height:25px; border-radius:20px; position:absolute; right:2px; top:0; outline:none; appearance:none;
                                    transition:.5s;
                                    &::before{content: '';cursor:pointer;  position:absolute; width:23px; height:23px; border-radius:50%; top:1px; background:gray; left:2px; transition:.5s;}
                
                                    &:checked::before{content: ''; cursor:pointer; position:absolute; transition:.5s; width:23px; height:23px; border-radius:50%; top:1px; background:$violet; left:25px;}
                                }
                            }
                        }
                    }

                    .sharedPhotos{ font-weight:700; pointer-events:none; align-self:flex-start; margin-left:35px;
                        display:flex; align-items:center; gap:10px; font-size:14px;  position: relative;
                        top:-12px;
                        i{ font-size:29px; margin:3x; color:$violet; }  
                    }

                    .images{ width:90%; display:grid; grid-template-columns:repeat(3, 70px); column-gap:5px; row-gap:5px;
                        position: relative; justify-content:center;

                        img{ border-radius:10px; object-fit:cover; }

                        &::after{content:''; position:absolute; width:80%; height:45px; left:22px; bottom:0; background:rgba(183, 183, 183, 0.304); }
                    }

                    .delete{  border:none; background:none; color:red; padding:7px 13px; cursor: pointer;  border-top:1px solid gray;
                        transition:.4s; width:80%; i{ font-size:23px; } 
                        display:flex; align-items:center; gap:10px; font-size:17px; margin-top:10px; justify-content:center;
                    }  

                }

            }
        }

        .BackGround-AddStory{ position:fixed; background:rgba(128, 128, 128, 0.585); height:100vh; width:100%; z-index:10;

            .HideComponent{  display: flex; flex-direction:column; align-items:center; width:37%; height:330px; position:absolute; top:45%; left:50%;
                translate:-50% -50%; background:$white; border-radius:20px; padding:13px 0; box-shadow:2px 2px 3px $violet; 

                header{ display:flex; width:100%; position: relative; justify-content:center; border-bottom:1.5px solid $violet;
                    padding-bottom:7px; align-items:center;

                    h3{  font-weight:bold; }

                    i{ position: absolute; right:15px; font-size:25px; color:$violet; translate:0px 2px; cursor: pointer; 
                        transition:.4s; &:hover{ color:$black; transition:.4s; }
                    }
                }

                img{ width:250px; margin:20px 0; }

                input{display:none;}
                label , button{ color:$white; background:$violet; cursor: pointer; width:60%; padding:7px; font-size:18px;  
                    border-radius:15px; display:flex; justify-content:center; gap:10px; align-items:center;
                    transition:.4s ; i{ margin-top:2px;}
                    
                    &:hover{ color:$black; transition:.4s; }
                }
                opacity:0; z-index:-10; transition:1s; transform:scaleX(-1); 
            }

            .SelectImage{ display: flex; flex-direction:column; align-items:center; width:37%; height:330px; position:absolute; top:45%; left:50%;
                translate:-50% -50%; background:$white; border-radius:20px; padding:13px 0; box-shadow:2px 2px 3px $violet; transition:1s; transform:scaleX(1);

                header{ display:flex; width:100%; position: relative; justify-content:center; border-bottom:1.5px solid $violet;
                    padding-bottom:7px; align-items:center;

                    h3{  font-weight:bold; }

                    i{ position: absolute; right:15px; font-size:25px; color:$violet; translate:0px 2px; cursor: pointer; 
                        transition:.4s; &:hover{ color:$black; transition:.4s; }
                    }
                }

                img{ width:250px; margin:20px 0; }

                input{display:none;}
                label{ color:$white; background:$violet; cursor: pointer; width:60%; padding:7px; font-size:18px;  
                    border-radius:15px; display:flex; justify-content:center; gap:10px; align-items:center;
                    transition:.4s ; i{ margin-top:2px;}
                    
                    &:hover{ color:$black; transition:.4s; }
                }
            }

            .ShareStory{ display: flex; flex-direction:column; align-items:center; width:37%; height:330px; position:absolute; top:45%; left:50%;
                translate:-50% -50%; background:$white; border-radius:20px; padding:13px 0; box-shadow:2px 2px 3px $violet; transition:1s; transform:scaleX(1);

                header{ display:flex; width:100%; position: relative; justify-content:center; border-bottom:1.5px solid $violet;
                    padding-bottom:7px; align-items:center;

                    .go-back{ position: absolute; left:15px; font-size:25px; color:$violet; translate:0px 2px; cursor: pointer; 
                        transition:.4s; &:hover{ color:$black; transition:.4s; } }
 
                    h3{ font-weight:bold; }
 
                    .close{ position: absolute; right:15px; font-size:25px; color:$violet; translate:0px 2px; cursor: pointer; 
                        transition:.4s; &:hover{ color:$black; transition:.4s; }
                    }
                }

                img{ width:280px; height:220; margin:20px 0; object-fit:cover; border-radius:20px; box-shadow:2px 2px 3px $violet; }

                input{display:none;}
                button{ color:$white; background:$violet; cursor: pointer; width:62%; padding:7px; font-size:18px;  
                    border-radius:15px; display:flex; justify-content:center; gap:10px; align-items:center; border:none;
                    transition:.4s ; height:40px; i{ margin-top:2px;}
                    
                    &:hover{ color:$black; transition:.4s; }
                }

                p{ margin:10px; color:$violet; font-weight:700;font-size:16px;  }
            }
        }

        .StoriesPage{ height:100vh; width:320px; display:flex;

            //! The main big bar
            .VerticalStories{ width:310px; height:100vh; background:#202020; color:$white; display:flex; flex-direction:column;
                align-items: center; border-right:1.5px solid $violet; position:relative;

                header{ display:flex; width:90%; justify-content:space-between; margin-top:10px; align-items:center;
                    border-bottom:1px solid rgba(128, 128, 128, 0.692); padding-bottom:3px;

                    h1{font-size:23px;}
                
                    i{color:$violet; font-size:26px; cursor: pointer; transition: .4s ease; 
                        &:hover{color:$white; transition:.4s ease; scale:1.1;}
                    }
                }

                .swiper { width:100%; height:92%; padding-top:13px; color:$white;

                    .swiper-slide{ position: relative;  width:100%; height:fit-content;
                        
                        .userImage{position:absolute; object-fit:cover; border-radius:50%; top:-5px; left:10px; border:2px dotted $violet; }
                        
                        .story{ object-fit:cover; border-radius:15px; box-shadow:-2px 2px 5px $violet; cursor: pointer; }

                        h5{ position:absolute; bottom:7px; left:40px; opacity:.8; }

                    }
                    .swiper-pagination{width:12px; padding:50px 0; }
                    .swiper-pagination-bullet{ cursor: pointer; background:$white; z-index:10; right:0px; width:11px; height:11px; }
                }
            }

            

            //! Settings conditional rendered
            .Settings{ @include Settings }
        }

        .Error{ display:flex; width:100%; height:95vh; justify-content:center; align-items:center; color:$violet; } 
    }

    .Story{  width:100%; height:100vh; display:flex; flex-direction:column; justify-content:center;
        align-items:center; position: relative; color:$white; 
        
        .user-header{ z-index:4; display:flex; position:relative; align-items:center; width:580px; top:-10px;

            .userImage{ border-radius:50%; border:3px dotted $violet; object-fit:cover; translate:-40px 20px; }

            h3{ text-transform:uppercase;  }
            
            span{ position:absolute; right:10px; font-weight:bold; }
            
        }

        .story{ margin:10px; border-radius:20px; object-fit:cover; box-shadow:2px 2px 5px $violet; z-index: 2; 
            margin-top:-40px;
        }

            
    }
}